In [5]:
# Import scraping modules
from urllib.request import urlopen
from bs4 import BeautifulSoup

# Import data manipulation modules
import pandas as pd
import numpy as np
# Import data visualization modules
import matplotlib as mpl
import matplotlib.pyplot as plt
import re
import requests
import html5lib

In [2]:
from tools.common.nflPlayer import *
test = nflPlayer('Beckham','Odell')

In [9]:
dfs = pd.read_html(test.url)

# career recieving and rushing is dfs[0]
career_recieving_rushing = dfs[0]
# rename Unamed Collumns
career_recieving_rushing = career_recieving_rushing.rename(columns={'Unnamed: 0_level_0':'Year', 
                                                                    'Unnamed: 1_level_0':'Age',
                                                                    'Unnamed: 2_level_0':'Tm',
                                                                    'Unnamed: 3_level_0':'Pos',
                                                                    'Unnamed: 4_level_0':'No.',
                                                                    'Unnamed: 29_level_0':'RRTD',
                                                                    'Unnamed: 30_level_0':'Fmb',
                                                                    'Unnamed: 31_level_0':'AV',
                                                                    'Unnamed: 32_level_0':'Awards'})
career_recieving_rushing.replace(to_replace='\*', value='', regex=True, inplace=True)
career_recieving_rushing

      Year     Age   Tm  Pos   No. Games     Receiving             ...
      Year     Age   Tm  Pos   No.     G  GS       Tgt  Rec   Yds  ...
0     2014      22  NYG   WR  13.0    12  11       130   91  1305  ...  \
1     2015      23  NYG   WR  13.0    15  15       158   96  1450  ...
2     2016      24  NYG   WR  13.0    16  16       169  101  1367  ...
3     2017      25  NYG   WR  13.0     4   2        41   25   302  ...
4     2018      26  NYG   WR  13.0    12  12       124   77  1052  ...
5     2019      27  CLE   WR  13.0    16  15       133   74  1035  ...
6     2020      28  CLE   WR  13.0     7   7        43   23   319  ...
7     2021      29  2TM   WR   NaN    14  13        82   44   537  ...
8      NaN     NaN  CLE   WR  13.0     6   6        34   17   232  ...
9      NaN     NaN  LAR   WR   3.0     8   7        48   27   305  ...
10  Career  Career  NaN  NaN   NaN    96  91       880  531  7367  ...
11   5 yrs   5 yrs  NYG  NaN   NaN    59  56       622  390  5476  ...
12   3 yrs   3 yrs  CLE  NaN   NaN    29  28       210  114  1586  ...
13    1 yr    1 yr  LAR  NaN   NaN     8   7        48   27   305  ...

   Rushing            Total Yds             RRTD  Fmb  AV         Awards
       Y/A   Y/G  A/G     Touch Y/Tch  YScm RRTD  Fmb  AV         Awards
0      5.0   2.9  0.6        98  13.7  1340   12  1.0  11  AP ORoY-1, PB
1      3.0   0.2  0.1        97  15.0  1453   13  2.0  13        AP2, PB
2      9.0   0.6  0.1       102  13.5  1376   10  3.0  10        AP2, PB
3      8.0   2.0  0.3        26  11.9   310    3  0.0   2            NaN
4      3.8   1.6  0.4        82  13.1  1071    6  2.0   9            NaN
5      3.3   0.6  0.2        77  13.6  1045    4  1.0   9            NaN
6     24.0  10.3  0.4        26  15.0   391    4  0.0   4            NaN
7      7.0   1.0  0.1        46  12.0   551    5  0.0   5            NaN
8      7.0   2.3  0.3        19  12.9   246    0  0.0   2            NaN
9      NaN   NaN  NaN        27  11.3   305    5  0.0   3            NaN
10     7.4   1.8  0.2       554  13.6  7537   57  9.0  63            NaN
11     4.9   1.3  0.3       405  13.7  5550   44  8.0  45            NaN
12    12.0   3.3  0.3       122  13.8  1682    8  1.0  15            NaN
13     NaN   NaN  NaN        27  11.3   305    5  NaN   3            NaN

[14 rows x 33 columns]